:root {
  --white-clr: white;
  --black-clr: black;

  --primary-clr: var(--white-clr);
  --secondary-clr: var(--black-clr);
}



body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--primary-clr);
  transition: all 250ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

#switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

.switch-label {
  display: block;
  width: 10rem;
  height: 5rem;
  background-color: var(--secondary-clr);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.switch-label::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 120%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  border: 3px solid var(--secondary-clr);
  transition: all 250ms ease-in-out;
}

.switch-label::after {
  content: '';
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 70px;
  background-color: var(--primary-clr);
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  transition: all 400ms ease-in-out,
              background-color 250ms ease-in-out;
}

.switch-label--active::after {
  left: 95%;
  transform: translate(-100%, -50%);
}